<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h1>Brazil App</h1>
	<h2>This application will be used for the WC 2014 Daclub Pronostiek.</h2>

	<%= link_to "Log in now!", '/signin', class: "btn btn-large btn-primary" %>
</div>


