		<% @groups = Game.order(:group).distinct.pluck(:group) %>
		<% @groups.each do |group| %>
		<h2><%= group %></h2>
			<table class="table">
				<thead>
					<tr>
						<th>Datum</th>
						<th>Ploeg 1</th>
						<th>Ploeg 2</th>
						<th>Score Ploeg 1</th>
						<th>Score Ploeg 2</th>
					</tr>
				</thead>
				<tbody>
					<% @games.where(group: group).order(playdate: :asc).each do |game|%>
					<% @bet = Bet.find_by(game_id: game.id, betset_id: current_user.betset.id) %>
						<%= render game %>
					<% end %>
				</tbody>
			</table>
		<% end %>

		