<% provide(:title, 'Games') %>
<h1>Games</h1>
<h2>List</h2>

		<%= render 'games/groups' %>


<h2>New Game</h2>
<div class="row">
	<div class="span8 offset2">
		<%= render 'games/new' %>
	</div>
</div>
