
	<table class="table">
		<thead>
			<tr>
				<th>Ronde</th>
				<th column-span="4">Ploegen</th>
			</tr>
		</thead>
		<tbody>
			<% @rounds = Round.all %>
			<% @rounds.each do |round | %>
				<% @bettable = Bettable.where(round_id: round.id, user_id: @user.id).first %>
				<% if !@bettable.nil? %>
				<%= render 'bettables/results_round', :bettable => @bettable %>
				<% end %>
			<% end %>
		</tbody>
	</table>